<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/chat.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/themes.css}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

  <title>Chat</title>
</head>
<body th:class="${theme}">

<div th:replace="~{fragments/header :: header}" id="header"></div> <!-- Achte darauf, dass das Fragment korrekt geladen wird -->


<div class="main-container">
  <div class="left-container">
    <h2 th:text="#{chat.choose.user}">Wähle Benutzer aus</h2>
    <form id="user-selection-form" method="post" action="/create-group" class="create-group-form">
      <div class="user-list">
        <!-- Schleife durch die Gruppen der Benutzer -->
        <div th:each="group : ${newChat.groupedUsers}">
          <!-- Gruppentitel: Der Anfangsbuchstabe -->
          <div class="divider">
            <span th:text="${group.key}">A</span>
          </div>
          <!-- Benutzer in der Gruppe -->
          <div th:each="user : ${group.value}" class="user-item" th:data-user-id="${user.id}">
            <label class="user-label">
              <img th:src="${user.getProfilePictureUrl()}" alt="UserImage" class="profile-image">
              <span class="username" th:text="${user.username}">Benutzername</span>
              <input type="checkbox" name="selectedUsers" th:value="${user.id}" class="user-checkbox">
            </label>
          </div>
        </div>
      </div>
      <div class="search-container">
        <div class="input-container">
          <input type="hidden" name="currentUrl" th:value="${newChat.currentUrl}">
          <input type="text" name="chatName" th:placeholder="#{chat.groupname}">
          <button type="submit" class="search-button">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
        <div th:if="${errorMessage}" class="error-message">
          <p th:text="${errorMessage}"></p>
        </div>
      </div>
    </form>
  </div>

  <div class="right-container">
    <div class="simple-text">
      <div>
        <p th:text="#{chat.new.placeholder}">Bitte wählen Sie einen Benutzer um einen Chat zu starten,
          <br> oder mehrere Benutzer um eine Gruppe zu erstellen.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>