.recipe-wrapper{
    background: rgba(0,0,0,.1);
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    margin-top: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.recipe-content{
    margin-bottom: 50px;
    margin-top: 25px;
}
/* Modal-Stil */
.modal {
    display: none; /* Standardmäßig ausblenden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Dunkler Hintergrund */
}

/* Modal-Inhalt */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* Zentriert das Modal vertikal */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Responsiv: bis zu 90% der Breite */
    max-width: 600px; /* Maximal 400px */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Schließen-Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Buttons */
.modal-actions {
    margin-top: 15px;
    text-align: right;
}

.name-input {
    display: inline-block;
    width: 200px;
    padding: 10px 15px;
    background-color: #d0d0d0;
    color: #000;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    transition: background-color 0.3s ease;
}

.modal-button {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
}

.modal-button.save {
    background-color: #4CAF50;
    color: white;
}

.modal-button:hover {
    background-color: #ddd;
}

.modal-button.save:hover {
    background-color: #45a049;
}

.modal-title{
    color: var(--text-color-light);
    margin-bottom: 10px;
    font-size: 30px;
}

.modal-name{
    margin-right: 5px;
    font-size: 20px;
}

.modal-name-input{
    border-radius: 3px;
    font-size: 20px;
}

.action-item {
    display: inline-block;
    width: 150px;
    padding: 10px 15px;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.action-item:hover {
    background-color: #0056b3;
}

/* Optional: Entfernt den Fokusrahmen bei Klicks (wenn nicht erwünscht) */
.action-item:focus {
    outline: none;
}

/* Tabellen-Content */
table {
    border-collapse: collapse;
    width: 100%;
}
table ul {
    list-style-type: none;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


/* Responsives Design für schmale Bildschirme */
@media screen and (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    th {
        display: none; /* Spaltenüberschriften ausblenden */
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
    }
}