<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/profile.css}">
  <link rel="stylesheet" th:href="@{/css/fund.css}">
  <link rel="stylesheet" th:href="@{/css/themes.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

  <title>Chat</title>
</head>
<body th:class="${theme}">

<div th:replace="fragments/header :: header" id="header"></div> <!-- Achte darauf, dass das Fragment korrekt geladen wird -->

<div class="main-container">
  <div class="left-side">
    <div class="search-container">
      <form action="/fund/newfund" method="get" class="search-form">
        <div class="input-container">
          <button type="submit" class="search-button">
            <i class="fa fa-search"></i> <!-- Such-Icon -->
          </button>
          <input type="text" name="query" th:placeholder="#{fund.search.person}" th:value="${query}">
        </div>
      </form>
    </div>
    <form id="user-selection-form" method="post" action="/fund/create-fund" class="create-group-form">
      <div class="user-list">
        <div th:each="entry : ${friends}">
          <label class="user-label">
            <img th:src="${entry.profilePictureUrl}" alt="UserImage" class="profile-image">
            <span class="username" th:text="${entry.username}">Benutzername</span>
            <input type="checkbox" name="selectedUsers" th:value="${entry.id}" class="user-checkbox">
          </label>
        </div>
      </div>
      <div class="search-container">
        <div class="input-container">
          <input type="text" name="fundname" placeholder="Fundname" required>
          <button type="submit" class="search-button">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
        <div th:if="${errorMessage}" class="error-message">
          <p th:text="${errorMessage}"></p>
        </div>
        <input type="hidden" name="currentUrl" th:value="${currentUrl}">
      </div>
    </form>
  </div>
  <div class="right-side-funds">
    <div class="simple-text">
      <p th:text="#{fund.new.placeholder}">Only Persons in your Friendslist will appear here</p>
    </div>
  </div>

</div>
</body>
</html>