<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Einkaufsliste</title>

  <link rel="stylesheet" th:href="@{/css/ingredients.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/themes.css}">

    <!-- Boxicons Library for Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body th:class="${theme}">
<!-- Insert header -->
<div th:replace="~{fragments/header :: header}"></div>

<div class="list-container">
  <div class="list-item">
    <h3 th:text="#{shoppingList.title}">Shopping List</h3>
    <div style="display: flex; align-items: center;">
        <div th:if="${error}" class="error-message-container" style="display: flex; align-items: center; margin-right: 10px">
            <div th:text="#{${error}}" class="error-message" style="margin-left: 10px"></div>
            <!-- Error-Removal-Button -->
            <form th:action="@{/shoppingList}" method="get" class="delete-error-form">
                <button type="submit" class="delete-error-button" style="background: none; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="vertical-align: middle;">
                        <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" fill="black"></path>
                    </svg>
                </button>
            </form>
        </div>
        <form th:action="@{/shoppingList/add}" method="post" class="add-ingredient" style="display: flex; align-items: center;">
            <label for="newIngredient"></label>
            <input id="newIngredient" name="ingredientName" type="text" th:placeholder="#{shoppingListItem.new}" style="color: black" required>
            <button type="submit" class="add-button" style="background: none; border: none;">
                <span class="add-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="vertical-align: middle;">
                        <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z" fill=#07F353></path>
                    </svg>
                </span>
            </button>
        </form>
    </div>
  </div>

    <!-- Column Titles for the ShoppingList -->
    <div class="list-item" style="display: flex; align-items: center; justify-content: space-between;">
        <span class="item-name" style="font-weight: bold;" th:text="#{shoppingListItem.name}"></span>
        <span class="item-amount" style="font-weight: bold; display: flex; align-items: center;">
            <span th:text="#{shoppingListItem.purchaseAmount}" style="margin-right: 10px"></span>
            <form method="post" style="display: flex; flex: 2; gap: 10px; visibility: hidden; pointer-events: none;">
                <input name="newAmount" class="edit-amount" type="text" th:placeholder="#{shoppingListItem.amount.new}" style="width: 150px; padding: 0; font-size: 14px; text-align: center; visibility: hidden; pointer-events: none;" required>
                <button type="submit" class="add-button" style="background: none; border: none; padding: 0; margin: 0;">
                    <span class="add-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="vertical-align: middle;">
                            <path d="M4 21a1 1 0 0 0 .24 0l4-1a1 1 0 0 0 .47-.26L21 7.41a2 2 0 0 0 0-2.82L19.42 3a2 2 0 0 0-2.83 0L4.3 15.29a1.06 1.06 0 0 0-.27.47l-1 4A1 1 0 0 0 3.76 21 1 1 0 0 0 4 21zM18 4.41 19.59 6 18 7.59 16.42 6zM5.91 16.51 15 7.41 16.59 9l-9.1 9.1-2.11.52z" color="black"></path>
                        </svg>
                    </span>
                </button>
            </form>
        </span>
        <span class="item-price" style="font-weight: bold;" th:text="#{shoppingListItem.calculatedPrice}"></span>
        <form class="item-delete" style="flex: 0; visibility: hidden; pointer-events: none;">
            <button type="submit" class="delete-button" style="background: none; border: none; padding: 0; margin: 0;">
            <span class="delete-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" fill="black"></path>
                </svg>
            </span>
            </button>
        </form>
    </div>

    <!-- ShoppingList Rows -->
    <div th:each="shoppingListItem : ${shoppingListItems}" class="list-item" style="display: flex; align-items: center; justify-content: space-between;">
        <span th:text="${shoppingListItem.name}" class="item-name"></span>
        <span class="item-amount" style="display: flex; align-items: center;">
            <span th:text="${#numbers.formatDecimal(shoppingListItem.purchaseAmountInGrams, 1, 0)} + 'g'" style="margin-right: 10px"></span>
            <form th:action="@{/shoppingList/updateAmount/{id}(id=${shoppingListItem.ingredientId})}" method="post" style="display: flex; gap: 10px;">
            <label for="newAmount" style="display: none;"></label>
            <input id="newAmount" name="newAmount" class="edit-amount" type="text" th:placeholder="#{shoppingListItem.amount.new}" style="width: 70px; padding: 0;  font-size: 14px; text-align: center;" required>
            <button type="submit" class="add-button" style="background: none; border: none; padding: 0; margin: 0;">
            <span class="add-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="vertical-align: middle;">
                    <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z" fill="#07F353"></path>
                </svg>
            </span>
            </button>
        </form>
        </span>
        <span th:text="${#numbers.formatDecimal(shoppingListItem.calculatedPriceInEuros, 1, 2)} + '€'" class="item-price"></span>
        <form th:action="@{/shoppingList/delete/{id}(id=${shoppingListItem.ingredientId})}" method="post" th:title="#{shoppingListItem.delete}" class="item-delete" style="flex: 0;">
            <button type="submit" class="delete-button" style="background: none; border: none; padding: 0; margin: 0;">
            <span class="delete-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="vertical-align: middle;">
                    <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" fill="black"></path>
                </svg>
            </span>
            </button>
        </form>
    </div>

    <!-- Last row -->
    <div class="list-item" style="display: flex; align-items: center; justify-content: space-between; padding-top: 30px;">
        <span th:text="#{shoppingList.totalPrice} + ':'" class="item-name" style="font-weight: bold; flex: 1;"></span>
        <span class="item-amount" style="display: flex; align-items: center;">
            <span style="margin-right: 10px"></span>
            <form class="invisible-element" method="post" style="display: flex; flex: 2; gap: 10px;">
                <input name="newAmount" class="edit-amount" type="text" th:placeholder="#{shoppingListItem.amount.new}" style="width: 150px; padding: 5px;  font-size: 14px; text-align: center;" required>
                <button type="submit" class="add-button" style="background: none; border: none; padding: 0; margin: 0;">
                <span class="add-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="vertical-align: middle;">
                        <path d="M4 21a1 1 0 0 0 .24 0l4-1a1 1 0 0 0 .47-.26L21 7.41a2 2 0 0 0 0-2.82L19.42 3a2 2 0 0 0-2.83 0L4.3 15.29a1.06 1.06 0 0 0-.27.47l-1 4A1 1 0 0 0 3.76 21 1 1 0 0 0 4 21zM18 4.41 19.59 6 18 7.59 16.42 6zM5.91 16.51 15 7.41 16.59 9l-9.1 9.1-2.11.52z" color="black"></path>
                    </svg>
                </span>
                </button>
            </form>
        </span>
        <span class="item-price" th:text="${#numbers.formatDecimal(totalPrice, 1, 2) + '€'}"></span>
        <form class="item-delete" style="flex: 0;">
            <button type="submit" class="delete-button, invisible-element" style="background: none; border: none; padding: 0; margin: 0;">
            <span class="delete-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" fill="black"></path>
                </svg>
            </span>
            </button>
        </form>
    </div>

</div>

</body>
</html>