<header>
    <div class="header-container">
      <div class="header-left">

        <div class="dropdown">
          <button class="dropdown-button">Theme</button>
          <div class="dropdown-content">
            <a href="#" data-theme="light">Light</a>
            <a href="#" data-theme="dark">Dark</a>
            <a href="#" data-theme="gold">Golden</a>
          </div>
        </div>
        <!-- Sprachauswahl Dropdown -->
        <div class="dropdown">
          <button class="dropdown-button">Sprache</button>
          <div class="dropdown-content">
            <a href="#" data-lang="de">Deutsch</a>
            <a href="#" data-lang="en">English</a>
            <a href="#" data-lang="fr">Français</a>
            <a href="#" data-lang="es">Español</a>
          </div>
        </div>

        <a th:href="@{/login}" class="login-button">Login</a>

      </div>
    </div>
  </header>

