@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body.gold-theme{
    --background-color: #FFA500;
    --text-color: #1A237E;
    --background-image: url("../images/background.jpg");
}

body.light-theme{
    --background-color: white;
    --text-color: black;
    --background-image: url("../images/background_B&W.jpg.png");
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: hidden;
}

.main-container {
    width: 80%;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 1px  0 rgba(0,0,0,0.5), 0px 2px 5px 0 rgba(0,0,0,0.6);
    overflow: hidden;
}

.main-container .left-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 30%;
    background-color: #6BA3BE;
    overflow-y: auto;
    position: relative;
}

.main-container .right-container {
    width: 70%;
    height: 100%;
    flex: 1 1 70%;
    background: #274D60;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #274D60;
}

.right-container .simple-text{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

.right-container input#message-input {
    background-color: #274D60; /* Gleiche Hintergrundfarbe wie der Container */
    color: #ffffff; /* Gleiche Textfarbe wie der Container */
    border: none; /* Entferne den Rand */
    box-sizing: border-box; /* Damit Padding den Platz nicht überschreitet */
}



.user-img {
    position:relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}


/* Container für die gesamte Suchleiste */
.search-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Zentriert die Suchleiste */
    padding: 10px; /* Leichter Abstand um die gesamte Suchleiste */
}

/* Form-Style */
.search-form {
    background-color: transparent;
    display: flex; /* Flexbox für horizontale Anordnung */
    width: 100%;
    max-width: 600px; /* Maximale Breite der Suchleiste */
}

/* Container für Button und Input */
.input-container {
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Leicht schwarzer Hintergrund (mit Transparenz) */
    border-radius: 30px; /* Schöne Abrundung der Ecken */
    padding: 5px;
    box-sizing: border-box;
}


/* Button (Lupe) */
.search-button {
    background: none; /* Kein Hintergrund */
    border: none; /* Kein Rand */
    cursor: pointer; /* Zeigt an, dass es ein klickbares Element ist */
    padding: 8px 12px; /* Padding um das Icon */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Größe des Icons */
    color: #fff; /* Weiße Farbe für das Icon */
    border-radius: 5px 0 0 5px; /* Abrundung nur an der linken Seite */
}


/* Das Input-Feld */
.search-form input {
    width: 100%; /* Input nimmt die gesamte verbleibende Breite ein */
    padding: 8px 15px; /* Polsterung für das Textfeld */
    font-size: 14px; /* Schriftgröße */
    border: none; /* Kein Rand */
    border-radius: 0 5px 5px 0; /* Abrundung nur an der rechten Seite */
    color: white; /* Weiße Schriftfarbe */
    background-color: transparent; /* Hintergrundfarbe transparent */
    outline: none; /* Entfernt den Standardfokus-Rahmen */
    z-index: 10;
}

/* Stil für das Input-Feld, wenn es fokussiert ist */
.search-form input:focus {
    border-color: #4d90fe; /* Blaue Umrandung beim Fokussieren */
}

/* Optional: Stil für das Icon im Button */
.search-button i {
    font-size: 18px; /* Größe des Icons */
    color: #fff; /* Weiße Farbe für das Icon */
    z-index: 10;
}


.chat-list {
    margin-bottom: 15px ;
    position: relative;
    height:calc(100% - 170px);
    overflow-y: auto;
}

.chat-link {
    display: block; /* Das a-Tag wird zu einem Block-Element und dehnt sich auf den gesamten Raum aus */
    width: 100%; /* Damit der Link die gesamte Breite des Elternelements einnimmt */
    height: 100%; /* Falls du auch die Höhe des Containers abdecken willst */
    text-decoration: none; /* Entfernt den Standard-Link-Stil (Unterstreichung) */
    color: inherit; /* Erbt die Textfarbe des Elternelements */
    z-index: 10;
}


.chat-list .chat-box {
    position: relative;
    width: 100%;
    display:flex;
    /*   justify-content: center; */
    align-items:center;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #274D60;
}

.chat-list .chat-box .img-box {
    position:relative;
    width: 55px;
    height:45px;
    overflow:hidden;
    border-radius: 50%;
}

.chat-list .chat-box .chat-details {
    width: 100%;
    margin-left: 10px;
}

.chat-list .chat-box .chat-details .text-head {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2px;
}

.chat-list .chat-box .chat-details .text-head h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}

.chat-list .chat-box .chat-details .text-head .time {
    font-size: 0.8em;
    color: #aaa;
}

.chat-list .chat-box .chat-details .text-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-list .chat-box .chat-details .text-message p {
    color: #aaa;
    font-size: 0.9em;
    overlay: hidden;
}

img {
    width: 100%;
    object-fit: cover;
}

.chat-list .chat-box .chat-details .text-message b {
    background: #06e744;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    /*   text-align: center; */
    font-size: 0.8em;
    font-weight: 400;
    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-list .active {
    background: #ebebeb;
}

.chat-list .chat-box:hover {
    background: #032F30;
    color: #fff;
}

.chat-list .chat-box .chat-details .text-head .unread {
    color: #dcf8c6;
}


.right-container .chat-header {
    padding: 10px;
    background: #032F30;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right-container .chat-header .img-text .user-img .dp {
    position:relative;
    width: 40px;
    height:auto;
    object-fit: contain; /* Skalieren, ohne zu beschneiden */
}

.right-container .chat-header .img-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container .chat-header .img-text h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.right-container .chat-header .img-text h4 span {
    font-size: 15px;
    color: #ffffff;
}


.chat-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 120px);  /*60+60*/
    padding: 5px 20px;
    gap: 10px; /* Abstand zwischen Nachrichten */
    overflow-y: scroll; /* Ermöglicht vertikales Scrollen */
    scrollbar-width: none; /* Verhindert die Anzeige der Scrollbar in Firefox */
    -ms-overflow-style: none;  /* Verhindert die Anzeige der Scrollbar in älteren IE-Versionen */
}


.message-box {
    display: flex;
    flex-direction: column; /* Nachrichten übereinander anordnen */
    justify-content: flex-start; /* Maximiert den Abstand nach oben */
    align-items: flex-start; /* Vertikal oben ausrichten */
    position: relative;
    margin: 5px 0; /* Abstand zwischen den Nachrichten */
    padding: 10px 15px;
    border-radius: 10px; /* Abgerundete Ecken */
    width: fit-content;
    max-width: 60%; /* Maximale Breite der Nachricht */
    word-wrap: break-word; /* Lange Wörter umbrechen */
    background-color: #f8f8f8; /* Grauer Hintergrund */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Leichte Schatten für ein abgehobenes Aussehen */
}

/* Text der Nachricht */
.message {
    margin: 0;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #333; /* Dunkle Textfarbe für bessere Lesbarkeit */
    max-width: 100%;
    word-wrap: break-word; /* Lange Wörter umbrechen */
    flex-grow: 1; /* Der Textbereich wächst, um den verfügbaren Raum zu füllen */
}

.message-sender a{
    font-size: 12px; /* Gleiche Schriftgröße wie der Zeitstempel */
    color: #999; /* Dezente graue Farbe */
    margin-bottom: 5px;
    white-space: nowrap; /* Verhindert Zeilenumbruch */
    align-self: flex-start;
    text-decoration: none;
}

/* Zeitstempel der Nachricht */
.message-time {
    font-size: 12px; /* Kleinere Schrift für den Zeitstempel */
    color: #999; /* Graue Farbe für den Zeitstempel */
    position: absolute;
    bottom: -18px; /* Position des Zeitstempels unterhalb der Nachricht */
    right: 10px; /* Rechtsbündig */
    white-space: nowrap; /* Verhindert Zeilenumbruch */
}

/* Stil für eigene Nachrichten */
.my-message {
    background-color: #dcf8c6; /* Grüner Hintergrund für eigene Nachrichten */
    color: #000; /* Schwarze Textfarbe */
    align-self: flex-end; /* Positioniert die eigene Nachricht rechts */
    border-radius: 10px 10px 0 10px; /* Abgerundete Ecken oben und rechts */
    word-wrap: break-word; /* Lange Wörter umbrechen */
    padding-right: 40px;
}

/* Stil für fremde Nachrichten */
.friend-message {
    background-color: #ffffff; /* Weißer Hintergrund für fremde Nachrichten */
    color: #000; /* Schwarze Textfarbe */
    align-self: flex-start; /* Positioniert die fremde Nachricht links */
    border-radius: 10px 10px 10px 0; /* Abgerundete Ecken oben und links */
    word-wrap: break-word; /* Lange Wörter umbrechen */
    padding-right: 40px;
}


/* Container für die gesamte Eingabeleiste */
.text-input {
    width: 100%;
    display: flex;
    justify-content: center; /* Zentriert die Eingabeleiste */
    padding: 10px; /* Leichter Abstand um die gesamte Eingabeleiste */
}

.chatbox-input {
    background-color: transparent;
    display: flex;
    width: 100%;
}

.text-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Leicht schwarzer Hintergrund (mit Transparenz) */
    border-radius: 30px; /* Schöne Abrundung der Ecken */
    padding: 5px;
    box-sizing: border-box;
}

.text-input-container input[type="text"] {
    flex-grow: 1; /* Das Eingabefeld soll den restlichen Platz einnehmen */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Entfernt den Fokus-Rand */
    background-color: transparent !important;
}


.right-container .send-button {
    background: none; /* Kein Hintergrund */
    border: none; /* Kein Rand */
    cursor: pointer; /* Zeigt an, dass es ein klickbares Element ist */
    padding: 8px 12px; /* Padding um das Icon */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Größe des Icons */
    color: #fff; /* Weiße Farbe für das Icon */
    border-radius: 5px 0 0 5px; /* Abrundung nur an der linken Seite */
}

.chat-container input {
    width: 100%; /* Input nimmt die gesamte verbleibende Breite ein */
    padding: 8px 15px; /* Polsterung für das Textfeld */
    font-size: 14px; /* Schriftgröße */
    border: none; /* Kein Rand */
    border-radius: 0 5px 5px 0; /* Abrundung nur an der rechten Seite */
    background-color: transparent; /* Hintergrundfarbe transparent */
    outline: none; /* Entfernt den Standardfokus-Rahmen */
    z-index: 10;
}




.message-time{
    position: absolute; /* Zeit relativ positionieren */
    bottom: 5px;
    right: 10px; /* Zeit am unteren rechten Rand */
    font-size: 12px; /* Kleinere Schriftgröße */
    color: #999; /* Dezente Farbe */
}

.create-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.create-group-btn:hover {
    background-color: #0056b3;
}

.user-selection-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background: #f8f9fa;
    border-radius: 10px;
}


.button {
    --background: #032F31;
    --background-hover: #032F40;
    --text: #fff;
    --shadow: rgba(0, 9, 61, 0.2);
    --paper: #5c86ff;
    --paper-lines: #fff;
    --trash: #e1e6f9;
    --trash-lines: #bbc1e1;
    --check: #fff;
    --check-background: #5c86ff;
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding: 10px 24px;
    border-radius: 7px;
    min-width: 142px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: flex;
    color: var(--text);
    background: var(--btn, var(--background));
    box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 8px) var(--shadow);
    transform: scale(var(--scale, 1));
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    span {
        display: block;
        font-size: 14px;
        line-height: 25px;
        font-weight: 600;
        opacity: var(--span-opacity, 1);
        transform: translateX(var(--span-x, 0)) translateZ(0);
        transition: transform 0.4s ease var(--span-delay, 0.2s),
        opacity 0.3s ease var(--span-delay, 0.2s);
    }
    .trash {
        display: block;
        position: relative;
        left: -8px;
        transform: translate(var(--trash-x, 0), var(--trash-y, 1px))
        translateZ(0) scale(var(--trash-scale, 0.64));
        transition: transform 0.5s;
        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 8px;
            width: 2px;
            border-radius: 1px;
            background: var(--icon, var(--trash));
            bottom: 100%;
            transform-origin: 50% 6px;
            transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7))
            rotate(var(--r, 0deg));
            transition: transform 0.4s, background 0.3s;
        }
        &:before {
            left: 1px;
        }
        &:after {
            right: 1px;
            --x: -3px;
        }
        .top {
            position: absolute;
            overflow: hidden;
            left: -4px;
            right: -4px;
            bottom: 100%;
            height: 40px;
            z-index: 1;
            transform: translateY(2px);
            &:before,
            &:after {
                content: "";
                position: absolute;
                border-radius: 1px;
                background: var(--icon, var(--trash));
                width: var(--w, 12px);
                height: var(--h, 2px);
                left: var(--l, 8px);
                bottom: var(--b, 5px);
                transition: background 0.3s, transform 0.4s;
            }
            &:after {
                --w: 28px;
                --h: 2px;
                --l: 0;
                --b: 0;
                transform: scaleX(var(--trash-line-scale, 1));
            }
            .paper {
                width: 14px;
                height: 18px;
                background: var(--paper);
                left: 7px;
                bottom: 0;
                border-radius: 1px;
                position: absolute;
                transform: translateY(-16px);
                opacity: 0;
                &:before,
                &:after {
                    content: "";
                    width: var(--w, 10px);
                    height: 2px;
                    border-radius: 1px;
                    position: absolute;
                    left: 2px;
                    top: var(--t, 2px);
                    background: var(--paper-lines);
                    transform: scaleY(0.7);
                    box-shadow: 0 9px 0 var(--paper-lines);
                }
                &:after {
                    --t: 5px;
                    --w: 7px;
                }
            }
        }
        .box {
            width: 20px;
            height: 25px;
            border: 2px solid var(--icon, var(--trash));
            border-radius: 1px 1px 4px 4px;
            position: relative;
            overflow: hidden;
            z-index: 2;
            transition: border-color 0.3s;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 4px;
                height: var(--h, 20px);
                top: 0;
                left: var(--l, 50%);
                background: var(--b, var(--trash-lines));
            }
            &:before {
                border-radius: 2px;
                margin-left: -2px;
                transform: translateX(-3px) scale(0.6);
                box-shadow: 10px 0 0 var(--trash-lines);
                opacity: var(--trash-lines-opacity, 1);
                transition: transform 0.4s, opacity 0.4s;
            }
            &:after {
                --h: 16px;
                --b: var(--paper);
                --l: 1px;
                transform: translate(-0.5px, -16px) scaleX(0.5);
                box-shadow: 7px 0 0 var(--paper), 14px 0 0 var(--paper),
                21px 0 0 var(--paper);
            }
        }
        .check {
            padding: 4px 3px;
            border-radius: 50%;
            background: var(--check-background);
            position: absolute;
            left: 2px;
            top: 24px;
            opacity: var(--check-opacity, 0);
            transform: translateY(var(--check-y, 0))
            scale(var(--check-scale, 0.2));
            transition: transform var(--check-duration, 0.2s) ease
            var(--check-delay, 0s),
            opacity var(--check-duration-opacity, 0.2s) ease
            var(--check-delay, 0s);
            svg {
                width: 8px;
                height: 6px;
                display: block;
                fill: none;
                stroke-width: 1.5;
                stroke-dasharray: 9px;
                stroke-dashoffset: var(--check-offset, 9px);
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: var(--check);
                transition: stroke-dashoffset 0.4s ease
                var(--checkmark-delay, 0.4s);
            }
        }
    }
    &.delete {
        --span-opacity: 0;
        --span-x: 16px;
        --span-delay: 0s;
        --trash-x: 46px;
        --trash-y: 2px;
        --trash-scale: 1;
        --trash-lines-opacity: 0;
        --trash-line-scale: 0;
        --icon: #fff;
        --check-offset: 0;
        --check-opacity: 1;
        --check-scale: 1;
        --check-y: 16px;
        --check-delay: 1.7s;
        --checkmark-delay: 2.1s;
        --check-duration: 0.55s;
        --check-duration-opacity: 0.3s;
        .trash {
            &:before,
            &:after {
                --sy: 1;
                --x: 0;
            }
            &:before {
                --r: 40deg;
            }
            &:after {
                --r: -40deg;
            }
            .top {
                .paper {
                    animation: paper 1.5s linear forwards 0.5s;
                }
            }
            .box {
                &:after {
                    animation: cut 1.5s linear forwards 0.5s;
                }
            }
        }
    }
    &.delete,
    &:hover {
        --btn: var(--background-hover);
        --shadow-y: 5px;
        --shadow-blur: 9px;
    }
    &:active {
        --shadow-y: 2px;
        --shadow-blur: 5px;
        --scale: 0.94;
    }
}

@keyframes paper {
    10%,
    100% {
        opacity: 1;
    }
    20% {
        transform: translateY(-16px);
    }
    40% {
        transform: translateY(0);
    }
    70%,
    100% {
        transform: translateY(24px);
    }
}

@keyframes cut {
    0%,
    40% {
        transform: translate(-0.5px, -16px) scaleX(0.5);
    }
    100% {
        transform: translate(-0.5px, 24px) scaleX(0.5);
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

h2{
    text-align: center;
}

.user-list {
    margin: 20px;
}

.user-item{
    margin-bottom: 10px;
}

.user-label {
    display: flex;
    align-items: center; /* Zentriert das Bild und den Text vertikal */
    gap: 10px; /* Abstand zwischen Bild und Text */
}

.profile-image {
    width: 40px; /* Größe des Bildes */
    height: 40px;
    border-radius: 50%; /* Macht das Bild rund */
    object-fit: cover; /* Sorgt dafür, dass das Bild richtig zugeschnitten wird */
}

.create-group-form input{
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background: transparent;
    outline: none;
    z-index: 10;
}

.error-message{
    margin-top: 5px;
    font-size: 14px;
    color: #031716;
    font-style: italic;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px #274D60 solid;
    font-size: 24px;
    font-weight: bold;
}

.send-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.send-btn:hover {
    background-color: #218838;
}

.empty-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #999;
    font-size: 18px;
}

.user-checkbox {
    display: none; /* Blendet die Checkbox aus */
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer; /* Zeigt an, dass der Bereich klickbar ist */
}

.user-item.selected {
    background-color: #274D60; /* Hebt ausgewählte Benutzer hervor */
}

.user-item:hover {
    background-color: #274D60; /* Ändert die Hintergrundfarbe beim Hover */
}

.chats-header{
    display: flex;
    justify-content: space-between; /* Verteilung der Elemente mit Abstand */
    align-items: center; /* Vertikale Ausrichtung der Elemente */
    padding: 2px 20px; /* Ein bisschen Abstand innerhalb des Headers */
    margin-bottom: 15px;
}
.chats-header h2 {
    margin: 0; /* Entfernt den Standard-Abstand oben und unten */
    font-size: 24px;
    line-height: 1;
}

.chats-header button{
    display: flex;
    align-items: center;
    z-index: 10;
}

.create-chat-btn {
    background-color: transparent;
    color: black; /* Weißes Pluszeichen */
    border: none; /* Kein Rand */
    border-radius: 50%; /* Runde Form */
    width: 50px; /* Breite des Buttons */
    height: 50px; /* Höhe des Buttons */
    display: flex; /* Flexbox, um das Icon zu zentrieren */
    justify-content: center; /* Zentriert das Pluszeichen horizontal */
    align-items: center; /* Zentriert das Pluszeichen vertikal */
    font-size: 24px; /* Größe des Plus-Icons */
    cursor: pointer; /* Zeigt an, dass es klickbar ist */
    transition: background-color 0.3s, transform 0.3s; /* Sanfte Übergänge für Hintergrundfarbe und Transformation */

}

.create-chat-btn:hover {
    background-color: #0056b3; /* Dunklere Hintergrundfarbe bei Hover */
    transform: scale(1.1); /* Etwas vergrößern beim Hover für einen interaktiven Effekt */
}

.create-chat-btn:focus {
    outline: none; /* Entfernt den Fokusrahmen */
}

.chat-link {
    display: block;
    text-decoration: none;
}

.chat-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-img {
    flex-shrink: 0; /* Verhindert, dass das Bild sich verkleinert */
    margin-right: 10px;
}

.user-img img {
    width: 40px; /* Größe des Benutzerbildes */
    height: auto; /* Größe des Benutzerbildes */
    border-radius: 50%;
}

.chat-info {
    flex-grow: 1; /* Damit der Chat-Info-Bereich den verfügbaren Platz nutzt */
    overflow: hidden; /* Verhindert, dass der Text überläuft */
    white-space: nowrap; /* Verhindert den Zeilenumbruch */
    text-overflow: ellipsis; /* Schneidet den Text ab und zeigt '...' an, wenn er zu lang ist */
}

.chat-info h4 {
    font-size: 16px;
    margin: 0;
    white-space: nowrap; /* Verhindert den Zeilenumbruch */
    overflow: hidden; /* Verhindert den Überlauf */
    text-overflow: ellipsis; /* Zeigt '...' an, wenn der Text zu lang ist */
}

.chat-info p {
    font-size: 14px;
    color: black;
    margin: 0;
    white-space: nowrap; /* Verhindert den Zeilenumbruch */
    overflow: hidden; /* Verhindert den Überlauf */
    text-overflow: ellipsis; /* Zeigt '...' an, wenn der Text zu lang ist */

}
.chat-time {
    text-align: right;
    font-size: 12px; /* Verkleinerung der Uhrzeit */
    color: inherit;
}

.chat-info h4, .chat-info p {
    margin-bottom: 5px;
}


