/* Container für die Liste */
.list-container {
    position: relative;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px;
    background-color: var(--color-medium-light);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stil für die einzelnen Listenelemente */
.list-item {
    display: flex;
    justify-content: space-between; /* Verteilt die Items horizontal */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.list-item:first-child {
    border-bottom: none;
}

/* Entfernung der letzten unteren Linie bei der letzten Listeneinheit */
.list-item:last-child {
    border-bottom: none;
}

/* Stil für die Eingabefelder und Buttons */
.add-ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-ingredient input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--text-color-light);
}

.edit-amount {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Layout für den Inhalt innerhalb eines Listeneintrags (nebeneinander) */
.item-name,
.item-category,
.item-price,
.item-amount{
    flex: 1;
    padding: 5px 10px;
}

/* Icons für Favoriten und Löschen, rechts ausgerichtet */
.item-favourite,
.item-delete,
.shopping-list-add-remove-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
}

.item-favourite button,
.item-delete button {
    background: none;
    border: none;
    cursor: pointer;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    gap: 8px;
}

.pagination-link {
    padding: 8px 12px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
    background-color: #007bff;
    color: white;
}

.pagination-link.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

.custom-pagination span {
    padding: 8px 12px;
    color: #6c757d;
}

.sorting{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.filtering{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.filtering button{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.filtering-and-sorting{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}