<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/profile.css}">
  <link rel="stylesheet" th:href="@{/css/themes.css}">
  <link rel="stylesheet" th:href="@{/css/fund.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

  <title>Chat</title>
</head>
<body th:class="${theme}">

<div th:replace="fragments/header :: header" id="header"></div> <!-- Achte darauf, dass das Fragment korrekt geladen wird -->

<div class="main-container">
  <div class="left-side">
    <form th:action="@{/fund/newfund}">
      <button type="submit" class="create-chat-btn">
        <i class="fa fa-plus"></i> <!-- Font Awesome Plus Icon -->
      </button>
    </form>
    <div class="search-container">
      <form action="/fund" method="get" class="search-form">
        <div class="input-container">
          <button type="submit" class="search-button">
            <i class="fa fa-search"></i> <!-- Such-Icon -->
          </button>
          <input type="text" name="query" placeholder="Search a Fund" th:value="${query}">
        </div>
      </form>
    </div>
    <div th:each="fund : ${funds}" class="fund-list">
      <a th:href="@{/fund(id=${fund.id})}">
        <span th:text="${fund.name}" class="fund-name"></span>
      </a>
    </div>
  </div>
  <div class="right-side-funds">
    <div th:if="${!error}">
      <div th:if="${myfunds == null}" class="fund-empty">
        <p th:if="${delete == null}">Bitte wählen Sie einen Fund aus</p>
        <p th:if="${delete != null}">Bitte löschen sie erst alle Funds</p>
      </div>
      <div class="fund-users-container" th:if="${myfunds != null}">
        <!-- Admin anzeigen -->
        <div class="user-container">
          <h4>Admin</h4>
          <div class="admin-dropdown" th:if="${loggedInUser == myfunds.admin}">
            <button class="dropdown-button-admin">
              <i class="fa fa-bars"></i> <!-- Font Awesome Menü-Icon -->
            </button>
            <div class="dropdown-menu-admin">
              <a class="dropdown-item-admin" th:href="@{/fund/edit-members(fundId=${myfunds.id})}">Edit Members</a>
              <div th:if="${!myfunds.payments.isEmpty()}">
                <a class="dropdown-item-admin" th:if="${myfunds.payments.getLast.balance > 0}"
                   th:href="@{/fund/delete-fund(fundId=${myfunds.id})}">Delete Fund</a>
                <a class="dropdown-item-admin" th:if="${myfunds.payments.getLast.balance == 0}"
                   th:href="@{/fund/delete-fund(fundId=${myfunds.id}, balance=true)}">Delete Fund</a>
              </div>
              <div th:if="${myfunds.payments.isEmpty()}">
                <a class="dropdown-item-admin"
                   th:href="@{/fund/delete-fund(fundId=${myfunds.id}, balance=true)}">Delete Fund</a>
              </div>
            </div>
          </div>

          <a class="user-label" th:href="@{/profile(profileId=${myfunds.admin.id})}">
            <img th:src="${myfunds.admin.profilePictureUrl}" alt="AdminImage" class="profile-image">
            <span class="username" th:text="${myfunds.admin.username}">Admin</span>
          </a>
        </div>

        <!-- Andere Benutzer anzeigen -->
        <div class="other-users-container">
          <h4>Andere Benutzer</h4>
          <div class="users-grid">
            <div th:each="entry : ${myfunds.users}" class="user-item" th:if="${entry != myfunds.admin}">
              <a class="user-label" th:href="@{/profile(profileId=${entry.id})}">
                <img th:src="${entry.profilePictureUrl}" alt="UserImage" class="profile-image">
                <span class="username" th:text="${entry.username}">Benutzername</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${myfunds != null}">
        <div class="fund-balance">

          <!-- Formular für Einzahlung -->
          <form method="post" th:action="@{/fund/payinto}" class="form-card">
            <input type="hidden" name="fundid" th:value="${myfunds.id}">
            <input type="hidden" name="type" value="EINZAHLEN">

            <div class="input-box">
              <label for="amount">Betrag</label>
              <input id="amount" type="number" class="form-control" name="amount" value="10.0" required>
            </div>

            <div class="input-box">
              <label for="description">Beschreibung</label>
              <input id="description" type="text" class="form-control" name="description" placeholder="Beschreibung" required>
            </div>

            <button type="submit" class="search-button" style="background-color: rgba(0,0,0,0.5); border-radius: 15px">
              <span>Einzahlen mit PayPal</span>
              <i class="fa fa-credit-card" style="margin-left: 10px;"></i>
            </button>
          </form>

          <!-- Formular für Auszahlung -->


          <!-- Anzeigen des Kontostands -->
          <div class="fund-image" th:if="${myfunds.payments != null && !myfunds.payments.isEmpty()}">
            <p> Aktueller Kontostand:
              <span th:if="${myfunds.payments.getLast.balance != null}" th:text="${myfunds.payments.getLast.balance}"></span>
            </p>
            <img th:if="${myfunds.payments.getLast.balance != null && myfunds.payments.getLast.balance >= 1000}" th:src="@{/images/full.png}">
            <img th:if="${myfunds.payments.getLast.balance != null && myfunds.payments.getLast.balance >= 500 and myfunds.payments.getLast.balance < 1000}" th:src="@{/images/half full.png}">
            <img th:if="${myfunds.payments.getLast.balance != null && myfunds.payments.getLast.balance < 500}" th:src="@{/images/nothing.png}">
          </div>

          <div class="fund-image" th:if="${myfunds.payments.isEmpty()}">
            <p> Aktueller Kontostand: 0</p>
            <img src="/images/nothing.png">
          </div>
          <form method="post" th:action="@{/fund/payinto}" class="form-card">
            <input type="hidden" name="fundid" th:value="${myfunds.id}">
            <input type="hidden" name="type" value="AUSZAHLEN">

            <div class="input-box">
              <label >Betrag</label>
              <input  type="number" class="form-control" name="amount" value="10.0" required>
            </div>

            <div class="input-box">
              <label >Beschreibung</label>
              <input  type="text" class="form-control" name="description" placeholder="Beschreibung" required>
            </div>

            <div class="input-box">
              <label >E-Mail</label>
              <input type="email" class="form-control" name="email" placeholder="E-mail" required>
            </div>

            <button type="submit" class="search-button" style="background-color: rgba(0,0,0,0.5); border-radius: 15px">
              <span>Auszahlen mit PayPal</span>
              <i class="fa fa-credit-card" style="margin-left: 10px;"></i>
            </button>
          </form>
        </div>
      </div>


      <form th:if="${show == null && myfunds != null}" th:action="@{/fund}" method="get">
        <input type="hidden" name="id" th:value="${myfunds.id}">
        <input type="hidden" name="show" th:value="true">
        <button class="search-button" type="submit">
          <i class="fa fa-caret-down" aria-hidden="true" style="margin-right: 10px"></i>
          <span>Show Payment History</span>
          <i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 10px"></i>
        </button>
      </form>
      <form th:if="${show != null && myfunds != null}" th:action="@{/fund}" method="get">
        <input type="hidden" name="id" th:value="${myfunds.id}">
        <input type="hidden" name="show">
        <button class="search-button" type="submit">
          <i class="fa fa-caret-up" aria-hidden="true" style="margin-right: 10px"></i>
          <span>Hide Payment History</span>
          <i class="fa fa-caret-up" aria-hidden="true" style="margin-left: 10px"></i>
        </button>
      </form>

      <div th:if="${show == true && myfunds != null}">
        <div class="payment-history-container-table">
          <div class="row">
            <div class="cell header" style="width: 20%;">Person</div>
            <div class="cell header" style="width: 30%;">Grund</div>
            <div class="cell header" style="width: 25%;">Datum</div>
            <div class="cell header" style="width: 13%;">Amount</div>
            <div class="cell header" style="width: 12%;">Balance</div>
          </div>
        </div>
        <div class="payment-history-container-table">
          <form th:action="@{/fund}" method="get" class="row">
            <input type="hidden" name="id" th:value="${myfunds.id}">
            <input type="text" name="username" placeholder="Person suchen" class="cell input" style="width: 20%;" />
            <input type="text" name="reason" placeholder="Grund" class="cell input" style="width: 30%;" />
            <input type="hidden" name="show" th:value="true">
            <div class="date-input-group" style="width: 12%; text-align: center;">
              <label style="font-size: 0.8rem; display: block;">von</label>
              <input type="date" name="datefrom" class="cell input" style="width: 100%; font-size: 0.5rem;" />
            </div>
            <div class="date-input-group" style="width: 13%; text-align: center;">
              <label style="font-size: 0.8rem; display: block;">bis</label>
              <input type="date"  name="dateto" class="cell input" style="width: 100%; font-size: 0.5rem;" />
            </div>
            <input type="number" name="amount" placeholder="Amount" class="cell input" style="width: 13%;" />
            <button type="submit" class="search-button cell input" style="width: 12%">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>

        <div th:each="payment : ${fundpayments}"
             th:if="${payment.user == loggedInUser || myfunds.admin == loggedInUser}"
             class="payment-history-container-table">
          <div class="row">
            <div th:text="${payment.user != null ? payment.user.username : 'Deleted User'}" class="cell" style="width: 20%;"></div>
            <div th:utext="${payment.reason + ' <br>(' + payment.type + ')'}" class="cell" style="width: 30%;"></div>
            <div th:text="${#temporals.format(payment.date, 'dd.MM.yyyy')}" class="cell" style="width: 25%;"></div>
            <div th:text="${payment.amount}" class="cell" style="width: 13%;"></div>
            <div th:text="${payment.balance}" class="cell" style="width: 12%;"></div>
          </div>
        </div>
      </div>



    </div>
  </div>


</div>

<footer th:replace="fragments/footer:: footer"></footer>

</body>
</html>