<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<!-- Einfügen des Headers -->
<div th:replace="fragments/header :: header"></div> <!-- Achte darauf, dass das Fragment korrekt geladen wird -->

<h1>Willkommen auf der Home-Seite!</h1>
<p>Dies ist der Inhalt der Hauptseite.</p>

<footer th:replace="fragments/footer:: footer"></footer>
</body>
</html>
