<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayPal Integration</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/themes.css}">


    <script src="https://www.paypal.com/sdk/js?client-id=ARfr7uyYSZ9hmtos89I3skC0Fb9obRu7DThcOsZZyyMiTUG8s67m52cpe4accZ9aVSSKLQL0wfBPC6GP"></script>

</head>
<body th:class="${theme}">
    <div th:replace="fragments/header :: header"></div>

<!--    <div class="container">-->
<!--        <h2> Wie viel ist aktuell eingezahlt</h2>-->
<!--        <a th:text= "${amount}"></a>-->
<!--    </div>-->
    <div class="container">
        <!-- Layout Container -->
        <div class="layout">
            <div class="image-container">
                <img th:if="${balance >= 1000}" th:src="@{/images/full.png}" alt="Großes Bild" class="image-large">
                <img th:if="${balance >= 500 and balance < 1000}" th:src="@{/images/half full.png}" alt="Großes Bild" class="image-large">
                <img th:if="${balance < 500}" th:src="@{/images/nothing.png}" alt="Großes Bild" class="image-large">
                <div class="image-text">
                    <h1>Current amount</h1>
                    <p th:text="${#numbers.formatDecimal(balance, 2, 2)}"></p>
                </div>
            </div>

            <!-- Rechter Bereich mit Button und Formular -->
            <div class="button-container">
                <button id="toggleFormButton" class="paybutton">Zeige Formular</button>
                <!-- Verstecktes Formular -->
                <div id="formContainer" class="form-container">
                    <form method="post" th:action="@{/fund/payinto}" class="form-card">
                        <div class="input-box">
                            <input id="method" type="text" class="form-control" name="method" value="Paypal" readonly>
                        </div>
                        <div class="input-box">
                            <input id="amount" type="number" class="form-control" name="amount" value="10.0">
                        </div>
                        <div class="input-box">
                            <select class="form-control" id="currency" name="currency">
                                <option value="USD">USD</option>
                                <option value="EUR" selected>EUR</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <select class="form-control" id="type" name="type">
                                <option value="EINZAHLEN" selected>Einzahlen</option>
                                <option value="AUSZAHLEN">Auszahlen</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <input id="description" type="text" class="form-control" name="description" placeholder="Beschreibung" required>
                        </div>
                        <div class="input-box">
                            <input id="email" type="text" class="form-control" name="email" placeholder="E-mail">
                        </div>

                        <!-- Klassischer PayPal Button -->
                        <div class="paypal-button-container">
                            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/btn_paynow_LG.gif" name="submit" alt="Pay with PayPal"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>