<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Additions</title>
</head>
<body>
    <form action="/profileaddition" method="post">
        <label for="inputString">Enter a String:</label>
        <input type="text" id="inputString" name="inputString" required>
        <label class="switch">

        <!-- Bind den Wert des Switches an das Attribut "isPublic" -->
        <input type="checkbox" id="isPublic" name="isPublic" th:checked="${user.isPublic}">
        <span class="slider"></span>
        </label>
        <p>
            Dein Profil ist aktuell:
            <span th:text="${user.isPublic ? 'Öffentlich' : 'Privat'}"></span>
        </p>

        <label for="birthDate">Geburtsdatum:</label>
        <input type="date" id="birthDate" name="birthDate" required />

        <button type="submit">Speichern</button>
    </form>


</body>
</html>